* {
	margin: 0;
	text-align: center;
	box-sizing: border-box;
}

.App .container {
	width: 100%;
	display: grid;
	grid-template-columns: 20% 78%;
	gap: 1rem;
	justify-items: space-evenly;
}

.App .container .card-container {
	display: grid;
	grid-template-rows: auto;
	gap: 1rem;
}
