.Header {
	margin: 0;
	height: 10vh;
	background: #333;
	color: white;
	display: grid;
	grid-template-columns: repeat(200px, 1fr);
	align-items: center;
	box-shadow: 0px 2px 2px #111;
}

.Header .logo {
	margin-left: 1rem;
	justify-self: left;
}

.search-bar {
	grid-column: 5/6;
	height: 2rem;
	background: #444;
	border: 1px solid #555;
	border-radius: 5px;
}
